<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - Face ID Usage Description key to you</key>
	<string>Unlock password-protected journals with Face ID or Touch ID</string>
</dict>
</plist>
